@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.table-container {
  margin-left: 3vw;
  margin-right: 3vw;
  font-family: 'Montserrat', sans-serif;
}

.table-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.7vw;

}

.table-container th,
.table-container td {
  padding-right: 8px;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
  font-family: 'Montserrat', sans-serif;
}

.table-container tr {
  display: table-row;
  padding: 20px;
  border-radius: 50px;
}

.row-content {
  border-radius: 10px;
  padding: 15px;
  background-color: #d9d9d9;
}

.timing {
  color: #5e6369;
}

.agenda-hero-title {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vh;
  padding: 3vmax;
  font-size: 2.5vmax;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: #FF5146;
  border-radius: 0.5rem;
  text-align: left;
}

.subtitle-agenda-hero {
  margin-top: 0;
  font-size: 2vmax;
  color: #202125;
}


